<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

<!-- 수정/삭제 -->
<form th:action method="post">

    ID : <input type="text"  th:field="${member.loginId}"/>
    password : <input type="text"  th:field="${member.password}"/> <br>
    이름 : <input type="text"  th:field="${member.username}"/> <br>
    닉네임 : <input type="text"  th:field="${member.nickname}"/> <br>
    <input type="submit" value="수정"/>
</form>
</body>
</html>